<div class="row">
  <div class="col-sm">
    <h5><span>マイページ</span></h5>

    <div class="top_menu row mt-4">
      <p class="font-weight-bold col-sm-1">登録情報</p>
      <p class="col-sm-2"><%= link_to '編集する', edit_users_path, class: "btn btn-primary btn-block" %></p>
      <p class="col-sm-3"><%= link_to 'パスワードを変更する', password_edit_path, class: "btn btn-primary btn-block" %></p>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <table class="table table-bordered registration_information">
          <tbody>
          <tr>
            <th class="table-info", width="200">氏名</th>
            <td class="table-light"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table-info", width="200">メールアドレス</th>
            <td class="table-light"><%= @user.email %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    </div>

  </div>
</div>